[Unit]
Description=[BNS] DHCP Service
After=network.target NetworkManager-wait-online.service
Wants=NetworkManager-wait-online.service

[Service]
WorkingDirectory=/opt/bns/src/dhcp/
ExecStart=/opt/bns/.venv/bin/python /opt/bns/src/dhcp/main.py --masquerade enp3s0,wg1emoh4,wg0stg5
StandardOutput=journal
StandardError=journal
Restart=always
User=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
